{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Add or edit camper:</h2>
    <p><em>Note:</em> If you add a new name that is already in the record, (same first and last name),
        you will get an error. I did not want to add the code to prevent it!</p>
    <p>Please select the dates at the bottom of the form that you could make the trip.
    You can come back and make changes as needed.</p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form|crispy }}
    </table>
    <input type="submit" value="Save">
  </form>
{% endblock %}